<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd
    ">
    
    <util:list  list-class="java.util.Vector" id="listofphone">
    
    	<value>nokia</value>
    	<value>mi</value>
    	<value>realme</value>
    
    </util:list>
    
    <util:map map-class="java.util.HashMap" id="psw">
    
    	<entry key="sp0206@gmail.com" value="Test@123" />
    	<entry key="sp96958@gmail.com" value="Tom@32623" />
    	
    
    </util:map>	

	<bean  class ="com.example.Phone" name="phone">
	
		<property name="phoneName">
		<ref bean="listofphone"/>
		</property>
		
		<property name="pasword">
			<ref  bean ="psw"/>
		</property>
		
		<property name="cost" value="10.020"></property>
	
	
	</bean>
	
</beans>